* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121214 url("../assets/bg-london2.jpg") no-repeat center / cover;
  color: #e1e1e6;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body,
input,
select,
button {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h3 {
  flex: 1;
  font-size: 0.875rem;
}

button {
  background-color: #0e3248;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

button:hover {
  background-color: #fdfdfd;
}

button:hover > i {
  color: #0e3248;
}

button i {
  pointer-events: none;
  color: #fdfdfd;
  font-weight: bold;
}

input,
select {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: 0;
  outline: 2px solid transparent;
}

input {
  width: 100%;
}

input:focus,
select:focus {
  outline: 2px solid #877067;
}

.hide {
  display: none;
}

.todo-container {
  max-width: 450px;
  width: 100%;
  opacity: 0.92;
  margin: 3rem auto;
  background-color: #0e3248;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 40px 1920px rgba(0, 0, 0, 0.4);
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background: #395169;
  border-radius: 0.2rem;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}
